<div class="wrapper-inner" [ngClass]="{ 'vertical-menu-tooltip-place': (settings.theme.menuType === 'mini' && settings.theme.menu === 'vertical'),
                                        'horizontal-menu-tooltip-place': (settings.theme.menuType === 'mini' && settings.theme.menu === 'horizontal') }">
    
    <app-header></app-header>

    <div class="d-flex h-100" [ngClass]="{'flex-row': settings.theme.menu === 'vertical', 'flex-column': settings.theme.menu != 'vertical'}">
        <app-sidebar *ngIf="settings.theme.menu === 'vertical'"></app-sidebar>
        <div class="main-content"> 
            <app-side-chat></app-side-chat>           
            <app-breadcrumb></app-breadcrumb>            
            <router-outlet></router-outlet>              
        </div>
    </div>   

</div>
<app-footer></app-footer>
<app-back-top position="200"></app-back-top>

<!--<div class="settings" [ngClass]="{'show': showSetting}">-->
<!--    <button class="btn btn-default toggle" (click)="showSetting=!showSetting"><i class="fa fa-spin fa-gear"></i></button>-->
<!--    <div class="card">-->
<!--        <div class="card-header text-center">-->
<!--            Settings-->
<!--        </div>-->
<!--        <div class="card-body mb-3">-->
<!--            <h6>Choose theme skin</h6>-->
<!--            <div class="theme light" (click)="changeTheme('light')"></div>-->
<!--            <div class="theme dark" (click)="changeTheme('dark')"></div>-->
<!--            <div class="theme blue" (click)="changeTheme('blue')"></div>-->
<!--            <div class="theme green" (click)="changeTheme('green')"></div>-->
<!--            <div class="theme combined" (click)="changeTheme('combined')"></div>-->
<!--            <div class="theme purple" (click)="changeTheme('purple')"></div>-->
<!--            <div class="theme orange" (click)="changeTheme('orange')"></div>-->
<!--            <div class="theme brown" (click)="changeTheme('brown')"></div>-->
<!--            <div class="theme grey" (click)="changeTheme('grey')"></div>-->
<!--            <div class="theme pink" (click)="changeTheme('pink')"></div>-->
<!--        </div>-->
<!--    </div>-->
<!--</div>-->
