<div class="dropdown d-inline-block">
    <a class="dropdown-toggle no-caret pl-2 pr-2" id="user-menu" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
        <img *ngIf="currentUser" [src]="imagePath" alt="I" class="rounded-circle">
        <img *ngIf="!currentUser" src="assets/img/users/default-user.jpg" alt="user-img" class="rounded-circle">
    </a>

    <div class="dropdown-menu dropdown-menu-right rounded-0 mt-3 p-0 box-shadow" aria-labelledby="user-menu">
        <div class="user-menu">
            <div class="user-info text-center p-3">
                <img *ngIf="currentUser" [src]="imagePath" alt="user-img" class="user-img rounded-circle">
                <img *ngIf="!currentUser" src="assets/img/users/default-user.jpg" alt="user-img" class="user-img rounded-circle">
                <p *ngIf="currentUser" class="mt-1 mb-0">
                    {{ currentUser.emp_name }}
                </p>
            </div>
            <a class="dropdown-item" routerLink="/church/profile"><i class="fa fa-user mr-2"></i>Profile</a>
<!--            <a class="dropdown-item" routerLink="settings"><i class="fa fa-cog mr-2"></i>Settings</a>-->
            <a class="dropdown-item mb-1" (click)="logout()"><i class="fa fa-power-off mr-2"></i>Log out</a>
           
        </div>
    </div>
</div>
