.dropdown {
    .dropdown-toggle img {
        width: 18px;
    }
    .dropdown-menu .user-menu {
        width: 240px;
        padding: 0;
        .user-img {
            width: 100px;
        }
        .dropdown-item {
            color: #666 !important;
        }
    }
}
