<div class="row mb-3">
    <div class="col">
        <button (click)="openModal()" class="btn btn-warning pull-right">+ ADD NEW</button>
    </div>
</div>

<div class="row justify-content-center">
    <div class="col-12">
        <div widget class="card border-0 box-shadow">
            <div class="card-header transparent border-0 text-muted">
                <h5 class="mb-0">Review Periods</h5>
            </div>
            <div class="card-body pt-1 widget-body">
                <div class="table-responsive mb-2">
                    <ng2-smart-table class="table table-hover"
                                     [settings]="settings"
                                     [source]="review_periods"></ng2-smart-table>
                </div>
            </div>
        </div>
    </div>
</div>

